#palette,
#complementary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#palette div,
#complementary div {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* create a little bit of contrast for the text */
  mix-blend-mode: difference;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px #333;
}

#palette div,
#complementary div {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
